/* Hide spin button on inputs, we're using custom spin buttons */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body {
	background-color: #c5c5c5;
}

/* No rounded corners */
/** {
  border-radius: 0 !important;
}*/

/* Top of display */
#jumbo {
	height: 69px;
}

/* Dice interface */
.dice-group {
	display: inline-flex;
	/*border-color: black;*/
	border: 1.5px solid #c5c5c5;
	font-weight: bold;
	margin-left: 1px;
	margin-right: 1px;
	border-radius: 0.3rem;
}

#main-interface {
	padding: 10px;
	border-top: 4px black;
}

/* Add + remove buttons */
.add {
	color: #989898 !important;
	width: 100% !important
}

.rem {
	color: #989898 !important;
	width: 100% !important
}

.dice-input {
	height: 39px;
	width: 22px;
	margin: 5px;
	font-weight: bold;
	border: 0;
	text-align: right;
}

.spin {
	width: 30px !important;
	height: 20px !important;
	padding: 0;
	background-color: inherit;
}

/* Control Buttons */
#rollBtnContainer {
	margin-top: 30px
}

.control-button {
	width: 20% !important;
	margin-left: 10px;
	margin-right:10px;
}

/* History Container */
#history-container {
	background-color: white !important; 
	height: 100%;
	max-height: 377px;
}

#history-inner {
	margin: 12px 8px 8px 8px;
	overflow-y: hidden;
}

/* Style */
.card {
	background-color: white;
	border: 1px #989898;
}

.col-sm {
	padding: 0px;
}

.row {
	margin: 0px;

}