input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

* {
  border-radius: 0 !important;
}

.add {
	color: green !important;
	width: 100% !important
}

.rem {
	color: red;
	width: 100% !important
}

#rollBtn {
	width: 100%;
}

#rollBtnContainer {
	margin-top: 30px
}

#jumbo {
	height: 69px;
}

#amt4 {
	height: 35px;
	width: 35px;
	margin: 5px;
	font-weight: bold;
	border: 0;
}

.amt {
	font-weight: bold;
	font-size: 20pt;
}

.spin {
	width: 40px !important;
	height: 20px !important;
	display: block !important;
	padding: 0;
}

.btn-group {
    /*background-color: #4CAF50; 
    border: 1px solid green;
    color: white; 
    padding: 10px 24px;
    cursor: pointer;
    width: 50%;*/
    display: block !important; /* Make the buttons appear below each other */
}
