/* Hide spin button on inputs, we're using custom spin buttons */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 0.3rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body {
	background-color: #c5c5c5;
}

/*.rounded-border {
	flex-wrap: nowrap;
	border: 1.5px solid #c5c5c5;
	border-radius: 0.3rem;
}*/

.add:active, .rem:active {
	color: #777777 !important;
}

.dice-module {
	width: calc(25% - .5rem);
	text-align: center;
	border: 1.5px solid #c5c5c5;
	border-radius: 0.3rem;
}

.spin {
	color: #989898 !important;
	width: 30px !important;
	height: 20px !important;
	padding: 0;
	background-color: inherit;
}

#add-cust-btn {
	background-color: #c5c5c5;
	color: #777;
	font-weight: bold;
}

/* Label in the modal */
#cust-size-label {
	font-weight: normal;
}

/* History */
#hist-container {
	/*height: 357px !important;*/
	background-color: white;
}

#hist-list {
	overflow-y: scroll;
	height: 357px !important;

}

/* Style */
.fa-plus-square, .fa-minus-square {
	font-size: 1.5rem;
}

.amt {
	min-width: 2rem !important;
	min-height: 2rem !important;
	cursor: text; 
}

#clear-hist-btn {
	float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

#templates {
	display: none;
}

#dice-container {
	background-color: white;
}

#roll-btn {
	width: calc(25% - .5rem);
	border-width: 1.5px;
}

#save-dice-btn {
	width: calc(25% - .5rem);
	border-width: 1.5px;
}

.list-group-item {
	padding-top: .25rem;
	padding-bottom: .25rem;
}